body {
    color: #ffffff;
    background-color: #ffc4c9;
}

#theForm {
    margin: 15px;
}

input {
    color: #383a38;
}

#board {
    margin: 15px;
}

.deletes {
    float : right;
    position: absolute;
    z-index: 100;
    opacity: .6;
}

.deletes:hover {
    opacity: 1;
}

h2, h1 {
    display: inline-block;
    float: left;
    margin: 10px 0 5px 25px;
}

h1 {
    font-size: 2.8em;
}

h2 {
    font-size: 2.2em;
    margin-top: +0.6em;
    color: #005a7c;
}

.word-block {
    display : inline;
}

.aName {
    font-size: 1.3em;
}

.aAnswer {
    font-size: 1.6em;
}

h3 {
    text-align : center;
    font-size: 1.8em;
    color : #e8e8bf;
}

input {
    margin : 2px;
}

.entry {
    display: inline-block;
    border: 2px #565656 solid;
    margin: 4px 0;
    border-radius: 4px;
    padding: 0 15px 15px;
}

.blue0 {
    background-color: #00bdf6;
}

.blue1, .blue7 {
    background-color: #0094c7;
}

.blue2, .blue6 {
    background-color: #0077a0;
}

.blue3, .blue5 {
    background-color: #005b7b;
}

.blue4 {
    background-color: #004466;
}